<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539946444022-96g8f9bi9bol6kq1k5nttiekab11df1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539946444022-96g8f9bi9bol6kq1k5nttiekab11df1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDEX-e_-XhH8zz9CdYMY4lKQHjP8lgsw24</string>
	<key>GCM_SENDER_ID</key>
	<string>539946444022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.totalXWork</string>
	<key>PROJECT_ID</key>
	<string>totalx-work</string>
	<key>STORAGE_BUCKET</key>
	<string>totalx-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539946444022:ios:26fe188736595429eff8d7</string>
</dict>
</plist>